{% extends "layout.html" %}

{% block title %}
leaderboard
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Username</th>
                
                <th> Stock </th>
                <th> CASH </th>
                <th>NET WORTH</th>
            </tr>
        </thead>
        <tbody>
            {% for user in listUsers %}
                <tr>
                    <td>{{ user[0] }}</td>
                      
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}